<!DOCTYPE html>
<html>
<head>
  <title>Contact Me</title>
	<!-- Theme Style -->
	<link rel="stylesheet" href="/public/css/style.css">
</head>
  <body>
    <%-include("./header.ejs")%>
    <section class="page-header">
      <h1 class="project-name">contact me</h1>
    </section>
    <div id="body" class="main-content">
      <form action="jtan73@my.centennialcollege.ca" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="name"><br>
        E-mail:<br>
        <input type="text" name="mail"><br>
        Comment:<br>
        <input type="text" name="comment" size="50"><br><br>
        <p style="text-align:center"><a href="/">send</a><input type="reset" value="reset"></p>
        </form>
    </div>
    <%-include("./footer.ejs")%>
  </body>
</html>