<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
	<!-- Theme Style -->
	<link rel="stylesheet" href="/public/css/style.css">
</head>
  <body>
    <%-include("./header.ejs")%>
    <section class="page-header">
      <h1 class="project-name">community service</h1>
    </section>
    <div id="body" class="main-content">
      <p>
        Community service is an important component of education here at our university.
        We encourage all students to volunteer for at least one community activity before they graduate.
        A new community program called "One On One" helps elementary students who've fallen behind.
        You education majors might be specially interested in it because it offers the opportunity to do some teaching, that is, tutoring in math and English.
        You'd have to volunteer two hours a week for one semester.
        You can choose to help a child with math, English, or both.
        Half-hour lessons are fine, so you could do a half hour of each subject two days a week. Professor Dodge will act as a mentor to the tutors.
        He'll be available to help you with lesson plans or to offer suggestions for activities.
        He has office hours every Tuesday and Thursday afternoon.
        You can sign up for the program with him and begin the tutoring next week.
        I'm sure you'll enjoy this community service and you'll gain valuable experience at the same time.
        It looks good on your resume too, showing that you've had experience with children and that you care about your community.
      </p>
      <p style="text-align:center"><img src="/public/images/service.jpg"/></p>
    </div>
  </body>
  <%-include("./footer.ejs")%>
</html>