<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
	<!-- Theme Style -->
	<link rel="stylesheet" href="/public/css/style.css">
</head>
  <body>
    <%-include("./partial/header.ejs")%>
    <section class="page-header">
      <h1 class="project-name">projects</h1>
    </section>
    <div id="body" class="main-content">
      <ul>
        <li><a href="https://github.com/tanjiarui/Artefact_case">Big Data Query</a></li>
        <span style="text-indent:2em;">This is a case study of SQL query for ETL and visualization.</span>
        <li><a href="https://github.com/tanjiarui/predict-future-sales">Feature Engineering Pipeline</a></li>
        <span style="text-indent:2em;">This project was inspired by a competition on Kaggle. The aim of this one is to generalize and summarize the stream line of how to extract and mining valuable features from messy data in reality.</span>
        <li><a href="https://github.com/tanjiarui/word_count">MapReduce Framework</a></li>
        <span style="text-indent:2em;">This is a simplified implementation of MapReduce via C++ 11. Using word count as an example, this implementation can give intuition how files flow within this structure and how workers communicate with each other.</span>
      </ul>
    </div>
  </body>
  <%-include("./partial/footer.ejs")%>
</html>