<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
</head>
<body>
  <%-include("./partial/header.ejs")%>
  <main class='container'>
    <% if(messages.length>0){%>
      <div class='alert alert-danger'>
        <%= messages %>
      </div>
    <%}%>
    <div class='row'>
      <div class='offset-md-4 col-md-4'>
        <h1>please register</h1>
        <form method='post' autocomplete='off'>
          <fieldset class='form-group'>
            <label for='username'>username: </label>
            <input type='text' class='form-control' name='username' placeholder='enter username' id='username' required autofocus>
          </fieldset>
          <fieldset class='form-group'>
            <label for='password'>password: </label>
            <input type='text' class='form-control' name='password' placeholder='enter password' id='password' required>
          </fieldset>
          <fieldset class='form-group'>
            <label for='email'>email: </label>
            <input type='text' class='form-control' name='email' placeholder='enter email' id='email' required>
          </fieldset>
          <fieldset class='form-group'>
            <label for='display name'>display name: </label>
            <input type='text' class='form-control' name='display_name' placeholder='enter display name' id='display name' required>
          </fieldset>
          <fieldset class='form-group text-right'>
            <input type='submit' class='btn btn-success' value='Register'>
            <a href='/' class='btn btn-warning' style='padding: 0; border: 0'>
              <input type='button' class='btn btn-warning' value='Cancel'>
            </a>
          </fieldset>
        </form>
      </div>
    </div>
  </main>
  <%-include("./partial/footer.ejs")%>
</body>
</html>